body {
    font-family: Arial, sans-serif;
    padding: 20px;
    transition: background-color 0.5s, color 0.5s;
}
input{
    padding: 10px;
    margin-top: 5px;
}
body.light {
    background-color: white;
    color: black;
}
body.dark {
    background-color: black;
    color: white;
}
.sum {
    margin-top: 10px;
    padding: 10px;
    background-color: green;
}
.mode{
    margin-top: 10px;
    padding: 10px;
    background-color: pink;
}